<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todolistdetail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todolistdetail.pk %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todolistdetail.pk %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                {% for item in todolistdetail.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                    <td>{{ task.due_date }}</td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
