<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>Update List</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <label for="1234">Name:</label>
                <input type="text" name="update_field" id="1234">
                <br><br> -->
                <button class="button">Update</button>
            </form>
        </div>
    </main>

</body>

</html>
