<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a New List</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create a New Item</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list_name in todolist_name.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' list_name.pk %}">{{ list_name }}</a>
                        </td>
                        <td>{{ list_name.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                    <td>
                        {% for todo_items in todolistdetail %}
                        <li>{{ todo_items }}</li>
                        {% endfor %}
                    </td>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
